
# added by GitSavvy
/gerador_elf.o

# added by GitSavvy
/hello.o

# added by GitSavvy
/main.o

# added by GitSavvy
/hello

# added by GitSavvy
/main

# added by GitSavvy
/output

# added by GitSavvy
/a.out

# added by GitSavvy
/.gitignore

# added by GitSavvy
/ex1.o

ex0.o
ex0
# added by GitSavvy
/ex1

gerador.o
gerador